
<ion-view view-title="Chấm công">
    <ion-content>
        <div class="im-wrapper" style="margin-top:30%;"> 
        <div class="list">
            <div style="text-align:center;">
                <button class="button button-small button-positive" ng-click="timeLog('Sign In')"data-ink-color="#9DEAFF" data-ink-opacity="1" >
                    Thời gian vào 
                </button>
            </div>
            <br/>
            <div style="text-align:center;">
                <button class="button button-small button-assertive" data-ink-color="#9DEAFF" ng-click="timeLog('Sign Out')" data-ink-opacity="1" >
                    Thời gian ra
                </button>
            </div>
        </div>
        </div>
    </ion-content>
</ion-view>
